header{
   display:flex;
   flex-wrap: wrap;
   text-align: right;
    height:256px;
    width:100%;
    background-image: url("https://live.staticflickr.com/2542/4191973147_74f8a56cce_b.jpg");
    font-family: 'Gill Sans MT';
    color:rgb(49, 78, 121);
    border: 5px solid rgb(89, 155, 199);
justify-content: space-between;
padding: 0px;
}
    
.header_photo{
    
    width:200px;
    min-width: 200px;
    height:300px;
    min-height: 300px;
    border:3px solid rgb(230, 159, 53);
}
main{
    
    width:100%;
    border:5px solid black;
    display:flex;
    flex-wrap: wrap;
     
}
aside{
   flex:2;
    background-color: rgb(51, 106, 143);
    color:white;
    font-family: 'Gill Sans MT';
   
    height:800px;
    border:5px solid rgb(89, 155,199);
    
}
.contacts{
    
    display:flex;
    
    line-height: 155px;
    font-size: 60px;
}
.contacts a{
    padding: 10px;
    
}
.pictures{
flex:6;

background-color:rgb(31, 100, 54);
padding:5 ;
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items: flex-start;
 border: 10px solid yellow;
color: black;
}

.projects{
  flex: 0 0 300px;
  padding: 10px;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
 

}
 .projects image{
    color:white;
}
img{
    border-radius: 30px;
   
}
.content {
    
        width: 80%;
        display: inline-block;
        margin-right: 20px;
    }

#budda {
    width:474px ;
    height: auto ;
    text-align:center;
}
#computer {
    width:474px ;
    height: auto ;
    text-align:center;
}
#engine{
    width:474px;
    height:315px;
    text-align:center;
}


.absolute{
    position:absolute;

    top:50px;
    left:50px;
}

footer{
    display:flex;
    flex-wrap: wrap;
    text-align: right;
    font-family: 'Gill Sans MT';

    background-color: rgb(89, 155, 199);
    width:100%;
    height:150px;
    font-size: 50px;
    color:black;
    justify-content:center;
 
}
footer a{
    
    padding: 30px;
}
@media(max-width:992px){
    aside{
        flex:1;
        width:100%;
        background-color: brown;
    }
    div.pictures{
        width:100%;
        background-color: bisque;
    }
}
.content{
    display:block;
    
}
#job-1{
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
#job-2{
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    }
    
    #job-3{
        margin-bottom: 20px;
        padding: 50px;
        height: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;}

        #job-4{
            margin-bottom: 20px;
            padding: 50px;
            height: 150px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #0072bb;
            color: #ffffff;}

            #job-5{
                margin-bottom: 20px;
                padding: 50px;
                height: 150px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                background-color: #0072bb;
                color: #ffffff;}

                #job-6{
                    margin-bottom: 20px;
                    padding: 50px;
                    height: 150px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    background-color: #0072bb;
                    color: #ffffff;}


@media (max-width: 768px){
    aside{
        width:50%;
    }
    div.pictures{
        width: 50%;
    }
    @media(max-width:600px){
        aside{
            width:100%;
        }
        div.pictures{
            width:100%;
            background-color: aquamarine;
        }
    }
}